@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoItalic;
    src: url(../fonts/Roboto-Italic.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto-Thin.ttf);
}
/* .home {
    list-style-image: url(../icons/home.png);
} */
/* Commented this method as this did not provide enough flexibility to resize the bullet icon image. But if possible I would have preferred 
this method only */
.home {
    background: #0086d6 url("../icons/home.png") 0 0px / 2rem no-repeat;
    grid-area: home;
}
.profile {
    background: #0086d6 url("../icons/card-account-details.png") 0 0px /  2rem  no-repeat;
    grid-area: profile;
}
.messages {
    background: #0086d6 url("../icons/message-reply.png") 0 0px /  2rem  no-repeat;
    grid-area: messages;
}
.history{
    background: #0086d6 url("../icons/clock-time-three.png") 0 0px /  2rem  no-repeat;
    grid-area: history;
}
.tasks {
    background: #0086d6 url("../icons/task-icon.png") 0 0px /  2rem  no-repeat;
    grid-area: tasks;
}
.community{
    background: #0086d6 url("../icons/account-group.png") 0 0px /  2rem  no-repeat;
    grid-area: community;
}
.settings {
    background: #0086d6 url("../icons/cog.png") 0 0px /  2rem  no-repeat;
    grid-area: settings;
}
.support {
    background: #0086d6 url("../icons/help-box.png") 0 0px /  2rem  no-repeat;
    grid-area: support;
}
.privacy {
    background: #0086d6 url("../icons/shield-check.png") 0 0px /  2rem  no-repeat;
    grid-area: privacy;
}
/*Icons in trending sidebar*/
/* .profile-1 {
    background: #ffffff url(../icons/dino.jpeg) -10px 0px/ 5rem no-repeat;
    border-radius: 50%;
} */
/* This method will not work here as the width and height are unequal in trending sidebar so border-radius will 
always give non-circular background image only.*/
