/* @import url(asset-import.css); */
.master-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
html, body {
    margin:0;
    height:100%;
    overflow:hidden;
}
:root{
    color: #fdfefe;
    font-family:Roboto;
    font-size: 1vw;
}
.sidebar {
    background-color: #0086d6;
    min-height: 100vh;
    grid-row-start: 1;
    grid-row-end: -1;
    font-family: RobotoMedium;
    font-size: 1.3rem;
}
.dashboard {
    padding: 30px 0px 0px 30px;
}
.dashboard > h1 {
    display: inline;
    margin: 0px;
    vertical-align: middle;
    font-size: 2rem;
}
.dashboard > img {
    min-height: 2.5rem;
    vertical-align: middle;
}
nav > ul{
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr repeat(6,1fr) 1.5fr repeat(3,1fr);
    grid-template-areas: "." "home" "profile" "messages" "history" "tasks" "community" "." "settings" "support" "privacy";
    gap: 10px;
    font-weight: bold;
    justify-content: middle;
    /* padding: 0px 0px 0px 2.5rem; */
}
nav > ul > li {
    padding: 3px 0px 10px 4rem;
    list-style-type: none;
    /* Using this property in addition with list-iamge-style incase the other one fails.*/
}
header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 2fr;
    padding: 5px;
    gap: 10px;
    box-shadow: 3px 4px 5px 0.5px rgb(220,220,220);
}
form {
    justify-self: center;
}
.search-button {
    height: 2rem;
    position: relative;
    top: 6px;
}
.profile-icon{
    border-radius: 50%;
    height: 3rem;
    align-self: center;
    justify-self: center;
}
.dp {
    height: 5rem;
}
.welcome {
    color: black;
    align-self: center;
}
header > section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 2rem;
}
h3{
    margin: 0px;
    color: black;
}
.notification-icon {
    align-self: center;
    justify-self: end;
}
#search {
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #e1e6f0;
    font-size: 1.5rem;
}
header > h2 {
    color: black;
    margin: 0px;
    align-self: center;
    font-family: RobotoMedium;
    font-size: 1.2rem;
}
header > button {
    align-self: center;
    justify-self: center;
    background-color: #0086d6;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    color: #fbfdfd;
    font-weight: bold;
    padding: 10px 25px;
}
.newbutton{
    justify-self: end;
}
.sharebutton{
    justify-self: start;
}
main {
    background-color: #e1e6f0;
    position: relative;
    z-index: -1;
    display: grid;
    padding: 20px;
    gap: 10px;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
}
.content-grid {
    grid-row-end: -1;
    grid-row-start: 1;
    background-color: aqua;
}
.announcements > ul , .trending > ul{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    In-case this were a live announcement feed and we wanted to append the new announcements into the list rather than replacing */
    color: black;
    list-style-type: none;
}
.card > h4, .card > p{
    margin: 0px;
}
.card {
    padding: 15px 10px;
    border-bottom: solid 1px lightgray;
}
/* .card-border {
    width: 100%;
    height: 1px;
    background-color: lightgray;
} */